{% extends 'base.html' %} 
{% load bootstrap3%}

{% block content %}
<div class="container top">
    <div class="row">
        <div class="col-md-7" style="margin-left: 220px">
            {% for img in images %}
            <div class="">
                <p class="">
                    <a style="font-family: 'Gochi Hand', cursive;" href="{% url 'profile'%}">{{img.profile.username}}</a>
                </p>
                
                <img src="{{img.photo.cdn_url}}" alt="Image">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                    </li>
                    
                </ul>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="{% url 'profile' %}">{{image.profile}}</a>
                    </li>
                    <li class="list-inline-item">
                    {% autoescape on %}
                        <p>{{img.image_caption|safe}} </p>
                    {% endautoescape %}
                    </li>
                </ul>
                
            </div>
            {% empty %}
            <a style="font-family: 'Gochi Hand', cursive;" href="{% url 'profile'%}">{{img.profile.username}}</a>
            <img src="{{img.photo.cdn_url}}" alt="Image">
            
            {% endfor %}
        </div>
        
    </div>

</div>
{% endblock %}